.contenedor-principal {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #383535;
    position: relative; /* El elemento se mueve desde su posición original, pero sigue ocupando su espacio normal, por lo que afecta la posición de los demás elementos. */

  }

  .Mar-tar {
    margin-top: 4.5%; /* O ajusta al valor que prefieras */
}

  .carac-flex{
    display: flex;
    flex-direction: column;
    align-items: center; /* Alineamiento del contenedor principal*/
  }

  ion-card {
    width: 282px;
    height: 59px;
    display: flex;
    align-items: center; /* formato dentro del card*/
  }

  ion-card-header{
    width: 100%;
  }
  
  ion-card-header span {
    width: 50%;
    font-size: 10px; /* Tamaño de los elementos dentro del card*/
  }
  
  ion-card-header span:first-child {
    font-weight: 850;
    color: #000; /* Asignatura*/
  }
  
  ion-card-header span:last-child {
    color: #0A253E;
    font-weight: 900; /* porcentaje*/
    text-align: right;
  }

  .form-span{
    display: flex;
    justify-content: space-between;
    width: 100%;


  }
  




