

                                <!--Uso <ion-content> es esencial para que el contenido se ajuste y maneje correctamente en la pantalla.
<ion-content class="ion-Fondo"> Con <ion-content>, Ionic asegura que el contenido se ajuste y posicione adecuadamente en la pantalla, gestionando espaciado y desbordamiento. 
                                 Por lo tanto, <ion-content> actúa como un contenedor que maneja el desbordamiento, el desplazamiento y el ajuste del contenido en la pantalla.

   <ion-card class="ion-Fondo2"> Sin <ion-content>, el contenido puede no posicionarse correctamente y puede quedar pegado al borde de la pantalla.
    <div>
      <form [formGroup] = "usuario"> agrego [formGroup] = "usuario"
        <ion-item> Estiliza, creando una fila. si hay de un elemento lo agrega a la lista
          <ion-input label="Correo electrónico" label-placement="stacked" placeholder="Ingrese su Correo"></ion-input> label-placement="stacked" hace el efecto stack
        </ion-item>
        <ion-item>
          <ion-input label="Contraseña"Contraseña label-placement="stacked" placeholder="Ingrese su Contraseña"></ion-input>
        </ion-item>
        <ion-button type="button">Click me!</ion-button>
      </form>
    </div>
   
  
     El ion-label por si solo hace 'wrap' por lo tanto los elementos se van a ver 
     organizados. Por otro lado, si usaramos la clase 'class="ion-text-nowrap";' los
     elementos se organizaran en una sola fila hasta más alla del extremo de la pantalla 
    <ion-item>
      <ion-label class="ion-text-nowrap" >
        Multi-line text that should wrap when it is too long to fit on one line. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.
      </ion-label>
    </ion-item>
  
  
  </ion-card>
</ion-content>-->

<ion-app>
  <ion-content>
    <div class="carac-flex contenedor-principal">

      <div>

        <ion-card style="margin-top: 8%;">
          <ion-card-header>
            <div class="form-span">
            <span>ARQUITECTURA</span>              
            <span>100%</span>              
            </div>
          </ion-card-header>
        </ion-card>
  
        <ion-card class="Mar-tar">
          <ion-card-header>
            <div class="form-span">
            <span>CALIDAD DE SOFTWARE</span>              
            <span>50%</span>              
            </div>
          </ion-card-header>
        </ion-card>
 
        <ion-card class="Mar-tar">
          <ion-card-header>
            <div class="form-span">
            <span>DISEÑO DE PROTOTIPOS</span>
            <span>100%</span>              
            </div>
          </ion-card-header>
        </ion-card>
  
        <ion-card class="Mar-tar">
          <ion-card-header>
            <div class="form-span">
            <span>ESTADISTICA DESCRIPTIVA</span>
            <span>100%</span>              
            </div>
          </ion-card-header>
        </ion-card>
  
        <ion-card class="Mar-tar">
          <ion-card-header>
            <div class="form-span">
            <span>ETICA PARA EL TRABAJO</span>
            <span>100%</span>              
            </div>
          </ion-card-header>
        </ion-card>
  
        <ion-card class="Mar-tar">
          <ion-card-header>
            <div class="form-span">
            <span>INGLES INTERMEDIO</span>
            <span>100%</span>              
            </div>
          </ion-card-header>
        </ion-card>
  
        <ion-card class="Mar-tar">
          <ion-card-header>
            <div class="form-span">
            <span>PROCESO DE PORTAFOLIO</span>
            <span>100%</span>              
            </div>
          </ion-card-header>
        </ion-card>
  
        <ion-card class="Mar-tar">
          <ion-card-header>
            <div class="form-span">
            <span>PROGRAMACIÓN DE APLICACIONES MOVILES</span>
            <span>100%</span>              
            </div>
          </ion-card-header>
        </ion-card>
      </div>

      <ion-tabs>
        <ion-tab-bar style="height: 12.5%; --border: none;" slot="bottom">
          <div style="background-color: #FFEE03; width: 100%; height: 100%;">        
            <ion-tab-button style="--color-selected: #000; --color: #000; font-weight: 900" tab="library" class="tab-library">
              <ion-icon name="bar-chart-outline"></ion-icon>
              ASIGNATURAS
            </ion-tab-button>

          </div>
          <div style="background-color: #FFC003; width: 100%; height: 100%;">
          <ion-tab-button style="--color-selected: #000; --color:#000; font-weight: 850;" tab="search" class="tab-search">
            <ion-icon name="search"></ion-icon>
            CÁMARA
          </ion-tab-button>          
          </div>

        </ion-tab-bar>
      </ion-tabs>
    </div>
  </ion-content>
</ion-app>




