.contenedor-principal {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #383535;
    overflow: scroll;

  }

  .Mar-tar {
    margin-top: 4.5%; /* O ajusta al valor que prefieras */
}

  .carac-flex{
    display: flex;
    flex-direction: column;
    align-items: center; /* Alineamiento del contenedor principal*/
  }

  ion-card {
    width: 282px;
    height: 60px;
    font-size: 12px;
    font-weight: 850;
  }

  ion-card .formato{
    color: #000;
  }
  ion-card .formato>.ion-icon{
    font-size: 20px;
  }

  .formato{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .formato2{
    display: flex;
    justify-content: center;
    height: 60px;
  }

  .ion-card-prueba {
    transition: height 0.3s ease-in-out;
    overflow: hidden; /* Asegura que el contenido se oculte cuando está contraído */
    height: 60x; /* Altura inicial del ion-card */
  }
  
  .ion-card-prueba.expanded {
    height: 150px; /* Altura cuando el ion-card está expandido */
  }

  .icon{
    display: inline;
    color:#000;
  }
  




