

<ion-app>
  <ion-content>
    <div class="carac-flex contenedor-principal">
      <h1 class="">Registro</h1>
      <h1 class="">APP</h1>
      <div class="Credenciales-contenedor">
        <h3 class="titulo">Inicia sesión</h3>
        <input class="ingreso-credenciales" type="text">
        <input  class="ingreso-credenciales" type="text">
        <a class="olvidaste" href="">¿Olvidaste la contraseña?</a>
        <button class=" boton-login" color="dark">INGRESAR</button>
      </div>
      <div class="circulo-derecha-alto"></div>
      <div class="circulo circulo-derecha"></div>
      <div class="circulo circulo-izquierda"></div>
      <div class="circulo2 circulo-medio-bajo"></div>
      <div class="circulo-medio-alto"></div>
    </div>
  </ion-content>
</ion-app>
