

<ion-app>
  <ion-content>
    <div class="carac-flex contenedor-principal">
      <div style="top: 0%;">
        <h1 class="">Registro</h1>
        <h1 class="">APP</h1>
      </div>
      <div class="Credenciales-contenedor">
        <div class="Credenciales-subcontenedor"> 
          <h1 class="titulo">Inicia Sesión</h1>
          <ion-list>
            <ion-item>            
              <ion-input class="ingreso-credenciales" type="text" placeholder="Enter your Email"></ion-input>
            </ion-item>
            <ion-item>            
              <ion-input class="ingreso-credenciales" type="text" placeholder="Password"></ion-input>
            </ion-item>
          </ion-list>
            <a class="olvidaste" href="">¿Olvidaste la contraseña?</a>          
          <div style="display: flex; justify-content: center;">
            <button class=" boton-login" color="dark" [routerLink]="['/login']">INGRESAR</button>
          </div> 

        </div>    

      </div>
      <div class="circulo-derecha-alto"></div>
      <div class="circulo circulo-derecha"></div>
      <div class="circulo circulo-izquierda"></div>
      <div class="circulo2 circulo-medio-bajo"></div>
      <div class="circulo-medio-alto"></div>
    </div>
  </ion-content>
</ion-app>
