.contenedor-principal {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #383535;


  position: relative; /* El elemento se mueve desde su posición original, pero sigue ocupando su espacio normal, por lo que afecta la posición de los demás elementos. */
  display: flex; /* Activamos flexbox */
  align-items: center; /* Centramos los elementos horizontalmente */
}

.circulo-derecha-alto{

   width: 301px;    
   height: 272px;    
   background-color: #D7A40D; 
   clip-path: circle(44.4% at 74% 0%);
   right: 0%; 
   top: 0%;
   position: absolute;
}

.circulo-derecha{
  /* forma y tamaño del circulo*/
  width: 322px;      /* Ancho del círculo */
  height: 464px;     /* Alto del círculo */
  background-color: #D7A40D; /* Color del círculo */
/*clip-path: circle(<radio> at <posX> <posY>);*/
  clip-path: circle(30.1% at 74% 99%);
  right: 0%;
}

.circulo-izquierda{
  background-color: #ffee03e4; 
  left: 0%; 
  width: 320px; 
  height: 232px;
  clip-path: circle(40.4% at 31% 110%);}

.circulo-medio-bajo{
  background-color: #D7A40D;
  z-index: 1; /* Detrás */
  width: 261px ;
  height: 232px;
  clip-path: circle(44.4% at 100% 51%);

  bottom: 23%;
  right: 0%;
  position: absolute;
}


.circulo-medio-alto {
  background-color: #ffee03e4;
  z-index: 1;
  width: 65vw; /* Unidades relativas al ancho */
  height: 65vh; /* Unidades relativas al alto para evitar distorsión */
  clip-path: circle(30% at 0% 50%);
  position: absolute;
  left: 0%;
  top: 8%;


}

.circulo{
/* orientación*/
position: absolute;/* Mueve el elemento en relación con el contenedor más cercano */
/*  top: 100px; Desde la parte superior del contenedor */
/*  left: 100px; Desde la izquierda del contenedor */
bottom: 0%;
}






.Credenciales-contenedor {
  width: auto;
  height: 60%;
  padding: 6%;
  border: 1px solid #000000;
  border-radius: 20px ;
  z-index: 2;
  box-shadow: 25px 30px 4px #000000;
  background-color: #fff;

  position: absolute;

  display: flex;
  flex-direction: column; /* Organización vertical */
  justify-content: space-around; /* Distribuye los elementos verticalmente */


}

.Credenciales-subcontenedor{
  width: 173px;
  height: 221px;
  margin-top: -90px;
}  

.boton-login{
 height: 23px;
 width: 175px;
 font-size: 60%;
 font-weight:bolder;
 color: #ffffff;
 text-align: center;
 border-radius: 5px;
 background-color: #000000;
 
 margin-top: 5%;


}

.carac-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo {
  font-weight: 850;
  text-align: center; /* Centrar texto */
}

.ingreso-credenciales {
  margin-top: 10%;
  font-size: 12.5px;
  font-weight: bolder;
  color: #808080;
}

/*bolder con font-size de 12*/
.olvidaste{
  display: block;
  font-size: 63%;
  font-weight: 850;
  color: #808080;
  text-decoration: none; /* Quitar el subrayado */
  /* color: inherit; Usar el color del elemento padre */
  margin-left: 31%;

  padding-top: 2.5%;
}

ion-item {
  --border-color: #000;
 /*  border-bottom: 2px solid #808080; Cambia el grosor y color de la línea inferior */
  --padding-start: 0px; /* Elimina el padding del lado izquierdo */
  --padding-end: 0px; /* Elimina el padding del lado derecho */
  --inner-padding: 10px; /* Reduce el padding interno, lo que acerca la línea al input */
}

